<center class="page-header">
  <h2>Welcome, <%= current_user.full_name %>! </h2>
  <%= render partial: '/partials/flash' %>
</center>

<div class="grid-container">
  <div class="sidebar">
    <div class="profile">
      <h4>Profile</h4>
      <% if current_user.birthdate.nil? || current_user.birthdate.empty? %>
        <p><strong>Date of birth:</strong> not saved</p>
      <% else %>
        <p><strong>Date of birth:</strong> <%= current_user.birthdate %></p>
      <% end %>
      <% if current_user.weight.nil? %>
        <p><strong>Weight:</strong> not saved</p>
      <% else %>
        <p><strong>Weight:</strong> <%= current_user.weight %> lbs</p>
      <% end %>
      <%= link_to "Edit Profile", "/profile/edit", method: :get %>
    </div>

    <div class="med-list">
      <h4>Medication List</h4>
      <% if current_user.medications.empty? %>
        <p>You don't have any saved medications.</p>
        <a href="/medications/new" class="btn btn-primary">Add New Medication</a>
      <% else %>
        <ul>
           <% current_user.medications.each do |medication| %>
             <li><%= medication.brand_name %></li>
           <% end %>
         </ul>
         <%= link_to "Edit Medication List", "/medications/edit", method: :get %>
         <a href="/medications/new" class="btn btn-primary" >Add New Medication</a>
      <% end %>
    </div>
  </div>
  <div class="main">

    <div class="log-form">

      <h4>Log a Symptom:</h4><br>
      <%= form_tag logs_path, method: "post" do %>
        <%= label_tag "What symptom did you experience?"%><br>
        <%= select_tag :symptom, options_for_select(@potential_symptoms), :include_blank => true %><br>

        <%= label_tag "When?"%><br>
        <%= datetime_field_tag :when %><br>

      <div class="form">
        <%= form_tag log_path, method: "post" do %>
        <div class="form-row">
          <div class="col-sm">
            <%= label_tag "What symptom did you experience?"%><br>
          </div>
          <div class="col-sm">
            <%= label_tag "When?"%><br>
          </div>
          <div class="col-sm">
            <%= label_tag "Any additional notes?"%><br>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm">
            <%= select_tag :symptom, options_for_select(@potential_symptoms), :include_blank => true %>
          </div>
          <div class="col-sm">
           	<%= datetime_field_tag :when %>
          </div>
          <div class="col-sm">
            <%= text_area_tag :note %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= submit_tag 'Save', class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="recent-logs">
      <h4>Recent Symptom Logs</h4>
      <div class="log-list">
        <% if current_user.logs.empty? %>
          <p>You have not yet recorded any symptoms.</p>
        <% else %>
          <div class="row">
            <p class="col"><strong>Symptom</strong></p>
            <p class="col"><strong>When</strong></p>
            <p class="col"><strong>Note</strong></p>
          </div>
          <% current_user.most_recent_logs.each do |log| %>
            <div class="row">
              <p class="col"><%= log.symptom.description %></p>
              <p class="col"><%= log.when %></p>
              <p class="col"><%= log.note %></p><br>
            </div>
          <% end %>
          <div class="row">
            <a href="insert_path_here" class="btn btn-link">See All Logs</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
