<center>
  <h2>Welcome, <%= current_user.full_name %>! </h2>
  <%= render partial: '/partials/flash' %>
</center>

<div class="grid-container">
  <div class="sidebar">
    <div class="profile">
      <h5>Profile</h5>
      <% if current_user.birthdate.nil? || current_user.birthdate.empty? %>
        <p><strong>Date of birth:</strong> not saved</p>
      <% else %>
        <p><strong>Date of birth:</strong> <%= current_user.birthdate %></p>
      <% end %>
      <% if current_user.weight.nil? %>
        <p><strong>Weight:</strong> not saved</p>
      <% else %>
        <p><strong>Weight:</strong> <%= current_user.weight %> lbs</p>
      <% end %>
      <%= button_to 'Edit Profile', '/profile/edit', method: :get %>
    </div>
    <div class="med-list">
      <h5>Medication List</h5>
      <% if current_user.medications.empty? %>
        <p>You don't have any saved medications.</p>
        <%= button_to "Add New Medication", "/medications/new", method: :get %>
      <% else %>
        <ul>
           <% current_user.medications.each do |medication| %>
             <li><%= medication.brand_name %></li>
           <% end %>
         </ul>
         <button type="button">Edit Medication List</button>
         <%= button_to "Add New Medication", "/medications/new", method: :get %>
      <% end %>
    </div>
  </div>
  <div class="log-form">
    <center>
      <h3>Log a symptom here</h3><br>
        <%= form_tag log_path, method: "post" do %>
          <div class="row">
            <p class="col">
              <%= label_tag "What symptom did you experience?"%> <br>
              <%= select_tag :symptom, options_for_select(@potential_symptoms), :include_blank => true %> <br><br>
            </p>
            <p class="col">
              <%= label_tag "When?"%> <br>
              <%= datetime_field_tag :when %> <br><br>
            </p>
            <p>
              <%= label_tag "Any additional notes?"%><br>
              <%= text_area_tag :note %> <br>
            </p>
            <p class="col"><%= submit_tag 'Save', class: "button" %></p>
          </div>
        <% end %>
    </center>
  </div>
  <div class="recent-logs">
    <center>
      <h3>Recent symptom logs</h3>
      <div class="row">
        <p class="col"><strong>Symptom</strong></p>
        <p class="col"><strong>When</strong></p>
        <p class="col"><strong>Note</strong></p>
      </div>
      <div class="row">
        <% current_user.logs.each do |log| %>
          <p class="col"><%= log.symptom_description %></p>
          <p class="col"><%= log.when %></p>
          <p class="col"><%= log.note %></p>
        <% end %>
      </div>
    </center>
  </div>
</div>
