<center>
  <h1>Edit Profile</h1>
  <%= form_tag "/users/#{current_user.id}", method: :patch do %>
    <%= label_tag :first_name %><br>
    <%= text_field_tag :first_name, "#{current_user.first_name}" %><br><br>
    <%= label_tag :last_name %><br>
    <%= text_field_tag :last_name, "#{current_user.last_name}" %><br><br>
    <%= label_tag :birthdate, 'Birthdate (Optional)' %><br>
    <%= text_field_tag :birthdate, "#{current_user.birthdate}" %><br><br>
    <%= label_tag :weight, 'Weight in lbs (Optional)' %><br>
    <%= number_field_tag :weight, "#{current_user.weight}" %><br><br>
    <%= submit_tag 'Save' %>
  <% end %>
</center>
