<p>Enter brand medication name</p>
<p style="color:red"><%= render partial: '/partials/flash' %></p>
<section class="med_search_form">
  <%= form_tag "/medications/search", method: :get %>
  <%= label_tag :medication_name %>
  <%= text_field_tag :medication_name %>
  <%= submit_tag "Find Medication" %>
</section>
