<p>Enter brand medication name</p>
<p style="color:red"><%= render partial: '/partials/flash' %></p>
<section class="med_search_form">
  <%= form_tag "/medications/search", method: :get do %>
    <%= label_tag :brand_name %><br>
    <%= text_field_tag :brand_name %><br><br>
    <%= submit_tag "Find Medication", class: "btn btn-primary" %>
  <% end %>
</section>
<br>
<%= button_to 'Back to Dashboard', '/dashboard', method: :get %>
