<div class="container">
  <div class="page-header">
    <h3>Medication Information</h3>
  </div>

  <div class="section">
    <h3><%= @medication.brand_name %></h3>
    <p><strong>Product NDC: </strong><%= @medication.product_ndc %></p><br>
    <%= button_to 'Delete from List', '/medications/delete', params: {id: @medication.id, brand_name: @medication.brand_name, product_ndc: @medication.product_ndc}, class: "btn btn-primary", method: :delete %>

    <% unless @medication.symptoms.empty? %>

      <div class="side-effects"</div>
        <h4>Potential Side Effects:</h4>
        <% @medication.symptoms.each do |symptom| %>
          <% if symptom == @medication.symptoms.last %>
            <span><%= symptom.description %>. </span>
          <% else %>
            <span><%= symptom.description %>, </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
